.App {
    text-align: center;
}

.App-header {
    background-image: url("./team_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    margin: 10px;
    color: white;
}

p {
    margin: 3px;

}

.App-intro {
    font-size: large;
    font-weight: bold;
}

.tips {
    font-size: small;
    color: #333;
}

.GameList {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.Game {
    height: 54px;
    display: table-row;
}

.GameTeam,
.GameTeamHelmet {
    display: table-cell;
}

.GameTeam {
    text-align: center;
    vertical-align: middle;
    width: 120px;
}