.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}

.App-header {
    background-color: #222;
    background-image: url("./grass.jpeg");
    height: 150px;
    padding: 20px;
    color: yellow;
}

.App-intro {
    font-size: large;
    font-weight: bold;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.GameList {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.Game {
    height: 54px;
    display: table-row;
}

.GameTeam,
.GameTeamHelmet {
    display: table-cell;
}

.GameTeam {
    text-align: center;
    vertical-align: middle;
    width: 90px;
}