.App {
    text-align: center;
}

.App-header {
    background-image: url("./team_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    margin: 10px;
    color: white;
}