.intro {
    font-size: large;
    font-weight: bold;
    padding: 5px 0 0;
    margin: 10px 0 5px;
}

.tips {
    font-size: small;
    color: #333;
    padding: 0 0 5px;
    margin: 0 0 5px;
}

.GameList {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.Game {
    height: 54px;
    display: table-row;
}

.GameTeam,
.GameTeamHelmet {
    display: table-cell;
}

.GameTeam {
    text-align: center;
    vertical-align: middle;
    width: 120px;
}